html, body 
{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    height: 500px;
    width: 400px;
    background: black;
    padding-top: 20px;
}
.button
{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.row
{
    margin: 8px 0;
}
.row input
{
    width: 166px;
    margin: 0;
    padding: 26px 66px;
    border: 2px solid black;
    border-radius: 10px;
}